body{
    font-family: "BPG Arial", sans-serif;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.header-navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.logo{
    width: 150px;
    background-color:rgba(243, 215, 162, 0.993) ;
    border-radius: 50%;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}
.menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}
.menu li a:hover{
    box-shadow: 0 -5px 0px white inset,
    500px 0 0 rgba(255,255,255,0.03) inset;
    padding: 35px 25px 45px 25px;

} 
.hamburger{
    position: relative;
    width: 25px;
    height: 4px;
    background: white;
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
}
.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background:white;
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger::before{
    top: -10px;
    width: 25px;
}
.hamburger::after{
    top: 10px;
    width: 25px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburger,
.toggle-menu{
    display: none;
}
.navigation input:checked ~ .hamburger{
    background: transparent;
}
.navigation input:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.navigation input:checked ~ .menu{
    right:0;
    box-shadow: -20px 0 40px rgba(0,0,0,0.3);
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}
header,
header:before {
    background: 50% 50% / cover;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background:url(../images/littleprince.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    background-position: 62%;
}

body{
    background-color: #020024;
}

.paragraph{
    display: flex;
    margin-top: 784px;
}
.poster{
    width: 300px;
}
.paragraphText{
    padding: 200px 0 100px 50px;
    line-height: 30px;
    font-size: 22px;
}
blockquote {
    font-size: 18px;
    margin: 0 auto;
    padding: 1em;
    border-left: 8px solid rgb(207, 146, 105);
    font-style: italic;
    padding:1.2em 30px 1.2em 75px;
    line-height:1.6;
    position: relative;
    margin-bottom: 40px;
  }
.quotes{
    margin-top: 90px;
}
blockquote::before{
    content:"\201C";
    color: rgb(207, 146, 105);
    font-size: 4em;
    position:absolute;
    left: 10px;
    top: -10px;
}
.cards{
    text-align: center;
    margin-right: 20px;
}
.cards-flex{
    margin-top: 150px;
}
.cards h3{
    font-size: 40px;
}
.card-text p{
    font-size: 18px;
}
footer{
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    margin: 120px -120px -20px;
    padding-top: 50px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;   
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.footer-logo{
    width: 150px;
    margin-bottom: 30px;
    
}
.nav-footer a{
    color: white;
    text-decoration: none;
    margin-left: -27px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;

}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
}
form i{
    font-size:18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button i{
    font-size: 16px;
    color: white;
}
.social-icons i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: black;
    background: white;
    margin-right: 15px;
    margin-top: 20px;
}
.social-icons i:hover{
    color: white;
    background:black;
}
.hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    padding-bottom: 20px;
}



@media (max-width:910px){
    .logo{
        display: none;
    }
    .hamburger,
    .toggle-menu{
        display: block;
    }
    .header{
        padding: 20px 20px;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        background: linear-gradient(to right, #00093c, #2d0b00);
        width: 300px;
        height: 100%;
        padding-top:65px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        
    }
    .menu li{
        width: 100%;
    }
    .menu li a{
        padding: 30px;
        font-size: 24px;
        box-shadow: 0 1px rgba(255,255,255,0.1) inset;
    }

    header::before{
        background-size:120rem;
        background-repeat: no-repeat;
    }
    .paragraph{
        display: inline-block;
        margin-top: 855px;
    }
    .poster{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    .paragraphText{
        margin-top: -125px;
    }
      
}
@media (max-width:600px){
    footer{
        margin-left: -50px;
        margin-right: -50px;
    }
}
