.container{
    margin: 0 auto;
    width: 90%;
}
.header-navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.logo{
    width: 150px;
    background-color:rgba(243, 215, 162, 0.993) ;
    border-radius: 50%;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}
.menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}
.menu li a:hover{
    box-shadow: 0 -5px 0px white inset,
    500px 0 0 rgba(255,255,255,0.03) inset;
    padding: 35px 25px 45px 25px;

} 
.hamburger{
    position: relative;
    width: 25px;
    height: 4px;
    background: white;
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
}
.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background:white;
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger::before{
    top: -10px;
    width: 25px;
}
.hamburger::after{
    top: 10px;
    width: 25px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburger,
.toggle-menu{
    display: none;
}
.navigation input:checked ~ .hamburger{
    background: transparent;
}
.navigation input:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.navigation input:checked ~ .menu{
    right:0;
    box-shadow: -20px 0 40px rgba(0,0,0,0.3);
}
body{
    background-color: #020024;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}
body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}
header,
header:before {
    background: 50% 50% / cover;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background:url(../images/littleprincecartoon2.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    background-position: 62%;
}
.cartoon_cover{
    display: flex;
}
.cartoon{
    margin-top: 700px;
}
.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
    font-size: 50px;
    
}
.movie_text{
    padding: 60px 80px 50px 80px;
    background: linear-gradient(to right, #00093c, #2d0b00);
    margin-left: 20px;
    border-radius: 15%;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.1);

}
.movie_text p{
    font-size: 20px;
    font-weight: bold;
}
.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 90px;
}

.gallery img{
    width: 300px;
}





@media (max-width:997px){
    .cartoon_cover{
        flex-wrap: wrap;
        justify-content: center;
    }
    .movie_text{
        width: 700px;
        margin-top: 60px;
    }
    
}

@media (max-width:910px){
    .logo{
        display: none;
    }
    .hamburger,
    .toggle-menu{
        display: block;
    }
    .header{
        padding: 20px 20px;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        background: linear-gradient(to right, #00093c, #2d0b00);
        width: 300px;
        height: 100%;
        padding-top:65px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .menu li{
        width: 100%;
    }
    .menu li a{
        padding: 30px;
        font-size: 24px;
        box-shadow: 0 1px rgba(255,255,255,0.1) inset;
    }
}